body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Game Board styling, including the individual boxes */
#GameBoardContainer {
    height: 350px;
    width: 350px;
    border: solid 1px;
    border-radius: 12px;
    
    background-color: rgba(0, 0, 0, 0.067);
    display: grid;

    margin-top: 15px;
}

#GameBoard {
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    display: grid;
    align-items: center;
    
}

.grid-box {
    display: grid;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100px;
}

.grid-box0 {
    place-self: center;
    display: grid;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.grid-box1 {
    place-self: center;
    display: grid;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.grid-box2 {
    place-self: center;
    display: grid;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.grid-box3, .grid-box4, .grid-box5, .grid-box6, .grid-box7, .grid-box8 {
    place-self: center;
}

.game-board-button {
    place-self: stretch;
}